NODE_ENV=production
PORT=3000
HOSTNAME=0.0.0.0
MEMBERSHIP_API_ORIGIN=https://api.theone.markerbd.com
WEBSITE_PUBLIC_ORIGIN=https://theone.markerbd.com
MANAGEMENT_PUBLIC_ORIGIN=https://staff.theone.markerbd.com
